/* Stylesheet */
body {
    font-family: "Times New Roman", Tahoma, sans-serif;
    color: #7A6C5D;
    background-color: #FAF9F6;
    font-size: 16px;
    padding: 0 24px;
}

h1, h2, p {
    background: #F4E1D2;
}

ul {
    font-size: 18px;
}

.index-menu {
    margin-top: 50px;
    padding: 0; 
}

.index-menu li {
    display: block;
    margin: 32px;
    font-size: 18px;
    text-align: center;
}

a {
    color: #F4E1D2;
    background: #E63946;
    padding: 8px;
}

.description {
    color: #457B9D;
    text-align: center;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.description.details {
    font-size: 16px;
    padding: 12px 24px;
    text-align: left;
}

.ingredients {
    color:#2D2D2D;
}

#main-title {
    background:#F4E1D2;
}

h1 {
    text-align: center;
    color: #E63946;
    padding: 16px;
}

h2 {
    font-weight: bold;
}

/* Image container */
div {
    text-align: center;
}

img {
    height: 270px;
    width: auto;
    margin-bottom: 24px;
}